body {
  width: 100%;
  margin: 0 auto;
}
header {
  border-top: 5px solid #3148A5;
  width: 100%;
  height: 80px;
  background: #fff;
}
header .gWidth {
  display: flex;
}
header .gWidth .h-l {
  width: 445px;
  display: flex;
  justify-content: start;
  color: #112161;
  margin-top: 10px;
}
header .gWidth .h-l .logo {
  margin-right: 15px;
}
header .gWidth .h-l .title {
  margin-top: 10px;
}
header .gWidth .h-r {
  width: 560px;
  height: 80px;
  position: relative;
}
header .gWidth .h-r .h-r-t {
  position: absolute;
  right: 0;
  top: -5px;
  width: 148px;
  height: 26px;
  line-height: 26px;
  display: flex;
  background-color: #09238B;
  border-radius: 0 0 4px 4px;
}
header .gWidth .h-r .h-r-t a {
  font-size: 12px;
  color: #fff;
  padding: 0 17px 0 22px;
  z-index: 4;
}
header .gWidth .h-r .h-r-b {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0;
  height: 21px;
}
header .gWidth .h-r .h-r-b a {
  color: black;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-right: 28px;
  text-align: center;
}
header .gWidth .h-r .h-r-b a:nth-last-of-type(1) {
  margin-right: 0;
}
header .gWidth .h-r .h-r-b .active {
  color: blue;
}
.h-footer {
  width: 100%;
  height: 39px;
  line-height: 39px;
  border-top: 1px solid #CCCCCC;
  background-color: #fff;
  box-shadow: 0 7px 7px #e9e8e4;
}
.h-footer .gWidth {
  font-size: 0;
}
.h-footer .gWidth a {
  font-size: 12px;
  font-family: "微软雅黑";
  color: black;
}
.h-footer .gWidth span {
  font-size: 12px;
}
main {
  width: 100%;
  background-color: #F2F2F2;
  margin-top: 3px;
}
main .gWidth {
  display: flex;
  justify-content: space-between;
}
main .gWidth .m-nav {
  padding-top: 45px;
  width: 200px;
}
main .gWidth .m-nav h3 {
  font-size: 24px;
  color: #0F298D;
  height: 38px;
  line-height: 38px;
}
main .gWidth .m-nav ul {
  border-top: 1px solid #dadada;
}
main .gWidth .m-nav ul li {
  border-bottom: 1px solid #dadada;
  height: 38px;
  line-height: 38px;
  background: url(../img/m-nav.png) no-repeat left center;
  text-indent: 14px;
}
main .gWidth .m-nav ul .active {
  background: url(../img/m-nav1.png) no-repeat left center;
  font-weight: bold;
}
main .gWidth .m-content {
  padding-top: 45px;
  width: 770px;
}
main .gWidth .m-content h4 {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dadada;
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: normal;
}
main .gWidth .m-content .photo {
  height: 250px;
  margin: 17px 0;
}
main .gWidth .m-content .photo img {
  width: 100%;
  height: 100%;
}
main .gWidth .m-content .nr h5 {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  font-family: "微软雅黑";
  margin: 20px 0 10px 0;
}
main .gWidth .m-content .nr .h5-1 {
  display: flex;
  font-size: 12px;
  color: #656565;
}
main .gWidth .m-content .nr .h5-1 .share {
  margin: 0 30px;
}
main .gWidth .m-content .nr .h5-1 .back {
  margin-left: 320px;
  width: 84px;
  height: 25px;
  background: #D9D9D9;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
main .gWidth .m-content .nr .zhuT {
  margin-top: 9px;
  border-top: 1px dashed #cccccc;
  padding-top: 22px;
  font-size: 0;
}
main .gWidth .m-content .nr .zhuT p {
  font-size: 12px;
  text-indent: 2em;
  font-family: "微软雅黑";
  line-height: 24px;
  margin: 10px 0 20px 0;
}
main .gWidth .m-content .nr .zhuT p:nth-of-type(1) {
  margin: 0;
}
main .gWidth .m-content .nr .zhuT h6 {
  font-size: 14px;
  font-family: "微软雅黑";
  margin-top: 10px;
}
main .gWidth .m-content .nr .zhuT .zhuT-b {
  margin-top: 47px;
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 48px;
}
main .gWidth .m-content .nr .zhuT .zhuT-b p {
  font-size: 12px;
  font-family: "微软雅黑";
  height: 38px;
  line-height: 38px;
}
footer {
  width: 100%;
  height: 295px;
  border-top: 4px solid #09238B;
  background-color: #5F5F5F;
}
footer .gWidth .f-title {
  margin-top: 17px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #888888;
}
footer .gWidth .f-title a {
  color: #fff;
  font-size: 12px;
  font-family: "微软雅黑";
  margin-right: 95px;
}
footer .gWidth .f-title a:nth-last-of-type(2) {
  margin-right: 0;
}
footer .gWidth .f-title a:nth-last-of-type(1) {
  margin-right: 0;
  margin-left: 190px;
}
footer .gWidth .f-body {
  display: flex;
}
footer .gWidth .f-body ul {
  margin-right: 95px;
}
footer .gWidth .f-body ul li {
  font-size: 0;
  height: 30px;
  line-height: 30px;
}
footer .gWidth .f-body ul li a {
  font-size: 12px;
  color: #CBCBCB;
}
footer .gWidth .f-body ul:nth-of-type(2) {
  margin-right: 58px;
}
footer .gWidth .f-body ul:nth-of-type(3) {
  margin-right: 100px;
}
footer .gWidth .f-body ul:nth-of-type(4) {
  margin-right: 100px;
}
footer .gWidth .f-body ul:nth-of-type(5) {
  margin-right: 0;
}
footer .gWidth .f-body ul:nth-last-of-type(1) {
  margin: 30px 0 0 170px;
  display: flex;
  justify-content: space-between;
}
footer .gWidth .f-body ul:nth-last-of-type(1) li {
  margin-right: 25px;
  font-size: 12px;
  text-align: center;
  color: #CBCBCB;
}
footer .gWidth .f-body ul:nth-last-of-type(1) li:nth-last-of-type(1) {
  margin-right: 0;
}
footer .gWidth .f-footer {
  height: 70px;
  line-height: 70px;
  margin-top: 30px;
  background: url(../img/hr.png) no-repeat center top;
  display: flex;
  justify-content: space-between;
}
footer .gWidth .f-footer p {
  font-size: 0;
}
footer .gWidth .f-footer p a {
  font-size: 12px;
  color: #CBCBCB;
}
footer .gWidth .f-footer p span {
  font-size: 12px;
  margin: 0 9px;
  color: #CBCBCB;
}
