@charset 'utf-8';
header{
    width: 16rem;
    height:1.4rem;
    position: relative;
}
header img{
    position: absolute;
    top: 50%;left: 50%;
    margin-left: -3.1rem;
    margin-top: -0.6rem;
}
header .box{
    float: right ;
    margin-right: 0.9rem;
    margin-top: 0.05rem;
}
header .box span{
    width: 0.65rem;
    height: 0.55rem;
    display: inline-block;
    color: blue;
    font-size: 0.55rem;
}
.box .icon-fenlei1{
    font-size: 1.4rem;
}
header .box ul{
    display: none;
    font-size: 0.1rem;
   width: 1.2rem;
}
header .box span:hover ul{
    display: block;
}
.box1{
    width:15rem;
    height: 18.2692rem;
    margin-left: 0.4615rem;
    margin-top: 0.4615rem;
    box-shadow:0 0.2308rem 0.7692rem 0 rgba(0, 0, 0, 0.19);
}
.box1 .b-t h5{
    font-size: 0.6923rem;
    margin-left: 6.1154rem;
    margin-top: 0.5769rem;
}
.box1 .b-t p{
    font-size: 0.5385rem;
    color: #999999;
    margin-left: 4.2308rem;
    margin-top: -0.3846rem;
}
.box1 .b-t img{
    margin-left: 6.6154rem;
    margin-top: 0.5769rem;
}
.box1 .b-z{
    margin-top: -0.3846rem;
}
.box1 .b-z h3{
    font-size: 0.7692rem;
    font-family: 黑体;
    color:#075FE5 ;
    margin-left: 0.4615rem;
}
.box1 .b-z p{
    width: 14.0385rem;
    height: 4rem;
    font-size: 0.5385rem;
    font-family: 黑体;
    margin-left:0.4615rem;
}
.b-b{
    margin-top: 1.9231rem;
    position: relative;
}
.b-b li{
    float: left;
}
.box1 .b-b li:nth-child(1){
    margin-left: 0.4615rem;
}
.box1 .b-b .b-1{
    position: absolute;
    top: -1.3462rem;left:1.6154rem;
}
.box2 li{
    float: left;
}
.box2 li:nth-child(1){
    margin-left: 6.3462rem;
}
.box2 li:nth-child(2){
    margin-left: 0.7692rem;
}
.box2{
    width: 100%;
    height: 1.2308rem;
}
.box3{
    margin-top: 1.1538rem;
    width: 15.9231rem;
    height: 11.8846rem;
    background: url(img/img4.png) no-repeat;
    position: relative;
}
.box3 .b-3{
    width: 15.9231rem;
    height: 11.8846rem;
    position: absolute;
    top: 0;left: 0;
    background: black;
    opacity: 0.3;
}
.box3 .b-4{
    position: relative;
    z-index: 4;
}
.box3 .b-4 h4{
    font-size: 0.8462rem;
    color:#F2F3F3;
    margin-top: 0.9231rem;
    margin-left: 5.5769rem;
}
.box3 .b-4 p{
    margin-left: 0.4615rem;
}
.box3 .b-4 .p1{
    font-size: 0.5385rem;
    color: #F2F3F3;
}
.box3 .b-4 .p2{
    width: 15.1538rem;
    height: 4.6923rem;
    font-size: 0.6154rem;
    color: #F2F3F3;
}
.b-5 a{
    color: #F2F3F3;
    font-size:0.5385rem;
    margin-bottom:0.3846rem;
    margin-left: 2.2308rem;
    position: relative;
    z-index: 5;
}
.box3 .b-5{
    background:#2161D8;
    width: 7.6154rem;
    height: 1.5769rem;
    border-radius: 0.7692rem;
    -webkit-border-radius:0.7692rem;
    -moz-border-radius:0.7692rem;
    -ms-border-radius:0.7692rem;
    -o-border-radius:0.7692rem;
    position: relative;
    margin-left: 4.1538rem;
}
.box3 .b-5 img{
    position: absolute;
    top: 0.8rem;left: 4.6rem;
    z-index: 6;
}